* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cec9c9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    overflow: hidden;
    border: 5px solid black;
}

.container .screen {
    width: 100%;
    height: 150px;
    border-bottom: 5px solid black;
}

.container .screen input {
    width: 100%;
    height: calc(100%/2);
    border: none;
    font-size: 50px;
    color: black;
    background-color: #aba9a9;
}

.container .keys {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .keys button {
    width: calc(100% / 4);
    height: 80px;
    font-size: 30px;
    color: aliceblue;
    background-color: #333;
}